@import './variables.scss';

body{
 overflow: hidden;
 height: 100vh;
 width: 100vw;
  font-family: 'Helvetica', 'Arial', sans-serif;
text-transform: capitalize;

}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
}