$primary-color: #D99908;
$grey: #C4C4C4;
$dark-light: #2D3748;
$black: #000000;
$green: #2EBD59;
$red: #E53E3E;

//font familly
$fontFamily: 'Helvetica', 'Arial', sans-serif;


//logo
$logoFont: calc(1.25*32.42px);